@model IEnumerable<NSEmbroidery.Data.Models.Embroidery>

@{
    Layout = null;
    ViewBag.Title = "Gallery";
    @Scripts.Render("~/Scripts/open-image-functionality.js");
    @Scripts.Render("~/Scripts/gallery.js");
    @Styles.Render("~/Content/gallery.css");
}


<h3 class="name-text">Your gallery</h3>
<ul id="gallery">
   

    @foreach (var item in Model)
    {
        <li class="gallery-border">
            <div class="gallerry-border-content">

                @if(item.PublicEmbroidery)
                {
                    <div class="shared">SHARED</div>
                }

                <img src=@Url.Action("ShowImage", "Gallery", new { id = item.Id }) data-embroidery-id="@item.Id" />
            
                @Ajax.ActionLink("x", "DeleteEmbroidery", "Gallery",
                                    new { embroideryId = item.Id },
                                    new AjaxOptions() { UpdateTargetId = "content", HttpMethod = "POST", InsertionMode = InsertionMode.Replace },
                                    new { @class = "delete-image" })
       
                    
                @if ((DateTime.Now - item.DateCreated).TotalDays < 1)
                {
                    <div class="new-embroidery">NEW!</div>
                }
            </div>

            <div class="embroideries-name">
                @item.Name
            </div>
                
        </li>
    }
</ul>


@Html.Partial("~/Views/Profile/OpenImage.cshtml")