@model IEnumerable<NSEmbroidery.Data.Models.Embroidery>

@{
    ViewBag.Title = "OtherUser";
    Layout = null;
    @Scripts.Render("~/Scripts/myScript.js")
}

<h3 class="name-text">@(ViewBag.UserName + "'s gallery")</h3>

<ul id="gallery">
@foreach (var emb in Model)
{
    <li class="gallery-border">
        <div class="gallerry-border-content">
         
            <img src=@Url.Action("ShowImage","Gallery",new { id = emb.Id  }) id="@emb.Id" />

       </div>
       
        <div class ="embroideries-name">
           @emb.Name
        </div>
    </li>
}
</ul>

@Html.Partial("~/Views/Profile/OpenImage.cshtml")
