@model IEnumerable<NSEmbroidery.Data.Models.Embroidery>

@{
    ViewBag.Title = "OtherUser";
    Layout = null;
    @Scripts.Render("~/Scripts/open-image-functionality.js");
    @Scripts.Render("~/Scripts/gallery.js");
    @Styles.Render("~/Content/gallery.css");
}

<h3 class="name-text">@(ViewBag.UserName + "'s gallery")</h3>

<ul id="gallery" data-user-id="@ViewBag.UserId" data-embroidery-count="@Model.Count()">
@{int i = 0;}
@foreach (var item in Model)
{
    <li class="gallery-border">
        <div class="gallery-border-content" data-embroidery-id="@item.Id"  data-embroidery-current="@(i++)">
         
            <img src=@Url.Action("ShowImage","Gallery",new { id = item.Id  }) data-embroidery-id="@item.Id" data-width="@item.SmallImage.Width" data-height="@item.SmallImage.Height" />

       </div>
       
        <div class ="embroideries-name">
           @item.Name
        </div>
    </li>
}
</ul>

@Html.Partial("~/Views/Profile/OpenImage.cshtml")
