<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/MyStyle2.css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/jquery-1.9.0.min.js")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
        
    </head>
    <body>
        <div class="top">

                    @Html.Partial("_LoginPartial")

                    <ul class="layout-menu">
                       <li class="layout-menu-li">@Html.ActionLink("Home", "Index", "Profile", null,  new { @class = "layout-menu-a" })</li>
                    </ul>
        </div>

        <div id="render-body">
            @RenderBody()
        </div>

       


    </body>
</html>
