<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/MyStyle.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>

        <div class="right">@Html.Partial("_LoginPartial")</div>

                        @Html.ActionLink("Home", "Index", "Home")
                        @Html.ActionLink("About", "About", "Home")
                        @Html.ActionLink("Contact", "Contact", "Home")
                @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
