@if (Request.IsAuthenticated) {

    <text>
    <ul class="login-register">
        <li id="current-user" class="log-reg-link" data-userId="@WebSecurity.CurrentUserId">
            Hello, @NSEmbroidery.ASP.Helper.UserIdentity.FirstName

        </li>
        <li>
        
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post)) {
                @Html.AntiForgeryToken()
                <input id="log-off" class="log-reg-link" type="submit" value="Log off" />
            }
       
        </li>
    </ul>
    </text>
} else {
    <ul class ="login-register">
       <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "log-reg-link" })</li>
       <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "log-reg-link" })</li>
    </ul>
}


<script>
    $("log-off").click(function () {
        $.post("Account/LogOff", null, null, null);
    });



    
</script>