@{
    ViewBag.Title = "AddEmbroidery";
    Layout = null;
    @Scripts.Render("~/Scripts/myScript.js")
}


  <h1>Does not work</h1>

<div id="add-embroidery">

    <div id ="add-embroidery-left">

        <form id="form1" runat="server">
            <input type='file' id="browse" />
        
        </form>

    <div id="palette">
        <div class='palette-window'></div>
        <div class="border-choosed-colors">
            <div id="choosed-palette-border"></div>
        </div>
    </div>
    


    <div id="settings">


            @Html.CheckBox("grid", new { id = "grid" })
            @Html.Label("Grid")
            <br />

            @Html.TextBox("cellsCount", "Input count of cells", new { id = "cells-count" })

            <br />

            @Html.DropDownList("Items", null, new { id = "resolutions" })


           <div id="symbols-color"></div>

            <div id="symbols-border">
                <input type="button" id="add-symbols" value="Add symbols" />
                <div id="symbols"></div>
            </div>

    </div>

   
    <div>
        <input id="embroidery-button" type="button" value="CreateEmbroidery" />
    </div>


    </div>

    <div id="add-embroidery-right">
        <div id="preview"></div>
    </div>

    
    <div>
     <input id="add-embroidery-button" type="button" value="Add embroidery" />
    </div>

</div>






    










