@{
    @Scripts.Render("~/Scripts/home.js");
}


<div class="buttom">
            <div class="buttom-left">
                <div>
                @if (Request.IsAuthenticated)
                {
                    <nav id="menu">
                      @{
                          @Ajax.ActionLink("My Gallery", "Index", "Gallery", null, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "content" }, new { @class = "item" })
                          @Ajax.ActionLink("Users", "Index", "Users", null, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "content" }, new { @class = "item" })
                          @Ajax.ActionLink("Add Embroidery", "Index", "AddEmbroidery", null, new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "content" }, new { @class = "item" })
                      }
                    </nav>
                }
                </div>
                
                <div id="content">
                    <div id="home-info-border">
                        <div id="last-comments">
                            Last comments
                            @foreach (var item in ViewBag.LastComments)
                            {
                                <div class="last-comment-border">
                                <div class="last-who-commented" data-userId="@item.UserId.ToString()" > @NSEmbroidery.ASP.Helper.UserIdentity.GetOthersUserName(item.UserId) </div>
                                <div class="image-commented" data-embroideryId="@item.EmbroideryId.ToString()"> @NSEmbroidery.ASP.Helper.EmbroideryIdentity.EmbroideryName(item.EmbroideryId) </div>
                                <div class="last-comments-comment">@item.Comment_msg </div>
                                </div>
                            }
                        </div>
                        <div id="last-likes">
                            Last likes
                            @foreach (var item in ViewBag.LastLikes)
                            {
                                <div class="last-like-border">
                                <div class="last-who-liked" data-userId="@item.UserId.ToString()"> @NSEmbroidery.ASP.Helper.UserIdentity.GetOthersUserName(item.UserId) </div>
                                    <label class="last-like-text">&nbsp;added like for&nbsp;</label>
                                <div class="image-like" data-embroideryId="@item.EmbroideryId.ToString()"> @NSEmbroidery.ASP.Helper.EmbroideryIdentity.EmbroideryName(item.EmbroideryId) </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>

 </div>



@Html.Partial("~/Views/Profile/OpenImage.cshtml")