@{
    @Scripts.Render("~/Scripts/open-image-functionality.js");
    @Scripts.Render("~/Scripts/home-functionality.js");
    @Scripts.Render("~/Scripts/home.js");
    @Styles.Render("~/Content/home.css");
    @Styles.Render("~/Content/menu.css");

}


<div class="buttom">
            <div class="buttom-left">
                <div id="div-menu">
                @if (Request.IsAuthenticated)
                {
                    <nav id="menu">
                      @{
                            if(!User.IsInRole("Admin"))  
                            {                       
                              <div id="home-my-gallery" class="item">My Gallery</div>
                            }  
                              <div id="home-users" class="item">Users</div>
                            if (!User.IsInRole("Admin"))
                            { 
                              <div id="home-add-embroidery" class="item">Add Embroidery</div>
                            }
                              if (User.IsInRole("Admin"))
                              {
                                  <div id="home-management" class="item">Management</div>
                              }

                        }
                    </nav>
                }
                </div>
                
                <div id="content">
                    @if (User.IsInRole("Admin"))
                    {
                        <div id="administrator-text">Administrator</div>
                    }
                    else
                    {
                        <div id="home-info-border">
                            <div id="last-comments">
                                Last comments
                                @foreach (var item in ViewBag.LastComments)
                                {
                                    <div class="last-comment-border">
                                    <div class="last-who-commented" data-userId="@item.UserId.ToString()" > @NSEmbroidery.ASP.Helper.UserIdentity.GetOthersUserName(item.UserId) </div>
                                    <div class="image-commented" data-embroideryId="@item.EmbroideryId.ToString()"> @NSEmbroidery.ASP.Helper.EmbroideryIdentity.EmbroideryName(item.EmbroideryId) </div>
                                    <div class="last-comments-comment">@item.Comment_msg<div class="last-comments-date">@item.DateCreated</div></div>
                                    </div>
                                }
                            </div>
                            <div id="last-likes">
                                Last likes
                                @foreach (var item in ViewBag.LastLikes)
                                {
                                    <div class="last-like-border">
                                    <div class="last-who-liked" data-userId="@item.UserId.ToString()"> @NSEmbroidery.ASP.Helper.UserIdentity.GetOthersUserName(item.UserId) </div>
                                        <label class="last-like-text">&nbsp;added like for&nbsp;</label>
                                    <div class="image-like" data-embroideryId="@item.EmbroideryId.ToString()"> @NSEmbroidery.ASP.Helper.EmbroideryIdentity.EmbroideryName(item.EmbroideryId) </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>

            </div>

 </div>


<div id="switch-loader"></div>


@Html.Partial("~/Views/Profile/OpenImage.cshtml")