@model IEnumerable<NSEmbroidery.Data.Models.User>

@{
    ViewBag.Title = "Index";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
    Layout = null;
    @Styles.Render("~/Content/management.css");
    @Scripts.Render("~/Scripts/management-users.js");
}


<ul class="management-users-list">
@foreach (var user in Model)
{
    <li class="management-users-list-border">
        <div class="management-users-list-user" data-user-id="@user.Id">@user.Email</div>
        <div class="management-users-list-user-name">@NSEmbroidery.ASP.Helper.UserIdentity.GetOthersUserName(user.Id)</div>
        <div class="management-users-list-delete" data-user-id="@user.Id" >DELETE</div>
    </li>
}
</ul>

